html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #111827;
  margin: 0;
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.site-navbar {
  background-color: #6366F1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-container {
  width: 100%;
  padding: 0 16px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.navbar-menu {
  margin: 0;
  padding: 0;
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #D9D9D9;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav-item-link {
  background-color: #6366F1;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.nav-item-link:hover {
  background-color: black;
  opacity: 0.9;
  
}

.home-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 24px;
  text-align: center;
}

.welcome {
  background: #ffffff;
}